# Task Files

.vscode/tasks.json

# Database Files

dev/db/.env.*

# Nginx Files

dev/nginx/logs/

# Web Files

dev/php-fpm/project/.env.*
dev/php-fpm/project/*.log
dev/php-fpm/project/.DS_Store
dev/php-fpm/project/.env
dev/php-fpm/project/.env.backup
dev/php-fpm/project/.env.production
dev/php-fpm/project/.phpactor.json
dev/php-fpm/project/.phpunit.result.cache
dev/php-fpm/project/.fleet
dev/php-fpm/project/.idea
dev/php-fpm/project/.nova
dev/php-fpm/project/.phpunit.cache
dev/php-fpm/project/.vscode
dev/php-fpm/project/.zed
dev/php-fpm/project/auth.json
dev/php-fpm/project/node_modules
dev/php-fpm/project/project/public/build
dev/php-fpm/project/project/hot
dev/php-fpm/project/project/storage
dev/php-fpm/project/storage/*.key
dev/php-fpm/project/storage/pail
dev/php-fpm/project/vendor
dev/php-fpm/project/Homestead.json
dev/php-fpm/project/Homestead.yaml
dev/php-fpm/project/Thumbs.d

# Environment files

dev/.env.db
dev/.env.web
dev/.env.workspace

# Workspace files

dev/workspace/.env.*

# Vite Files

dev/vite/.env.*

